.PostsContent {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.formElement {
  margin-top: 1rem;
  text-align: start;
}

.TextInput {
  width: 100%;
  align-self: center;
}

/* .UploadImage {
  margin-top: 3rem;
  margin-bottom: 2rem;
} */

.ActionButtons {
  display: flex;
  flex-direction: row;
  /* width: 50%;
  min-width: 20rem; */
  margin-top: 3rem;
  justify-content: space-between;
  /* align-self: center; */
}

.VisibilitySelection {
  align-items: flex-start;
}