/* .MuiButton-root{
    margin-right: 1rem;
} */

.FriendList {
    width: 60vw;
}

.MuiList-root {
    min-width: 100%;
}

.RequestButtons {
    width: 12rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}